{% extends "base.html" %}
{% block body %}
<header>
  <h1 class=""><a href="/"><span class="indian-stats-saffron">THE </span><span class="indian-stats-white">INDIA </span><span class="indian-stats-green">STATS</span> <i style="font-size: medium"><a href="https://gauthamp10.github.io">@gauthamp10</a></i></h1>
</header>

<main>
  {% block main %}{% endblock %}
</main>

<footer>
  <p>Available on: <a href="https://github.com/gauthamp10/covid19-pwa" target="_blank" rel="noopener">GitHub</a></p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <p>My Website: <a href="https://gauthamp10.github.io" target="_blank" rel="noopener">gauthamp10</a></p>
</footer>
{% endblock %}
